:root {
  --clr-white: #ffffff;
  --clr-background: #f8f8f8;
  --clr-primary-blue-darker: #073b7f;
  --clr-primary-blue-dark: #0d60cf;
  --clr-primary-blue-light: #4380d1;
  --clr-primary-white: #ffffff;
  --clr-primary-black: #1a1a1a;
  --clr-grey-100: #fbfbfb;
  --clr-grey-200: #e6e6e6;
  --clr-grey-250: #c5c5c5;
  --clr-grey-300: #707070;
  --box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px 0px, rgb(0 0 0 / 8%) 0px 0px 2px 1px;
}
body {
  background-color: var(--clr-background);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1em;
}

a {
  all: unset;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dashboard {
  display: flex;
}

.content {
  flex: 4;
  width: 100%;
}

.img-table img {
  width: 45px;
}

.data-grid {
  width: 100%;
  height: 80vh;
}
